@import '../../styles/mixins.scss';
@import '../../styles/container.scss';

.homepage {
  &__title {
    margin: 32px 0;
    font-family: 'Mont';
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1%;
    font-weight: 800;
  }

  &__subtitle {
    margin-top: 90px;
    margin-bottom: 24px;
    font-family: 'Mont';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    font-weight: 800;
  }
}
