@import '../../styles/mixins.scss';
@import '../../styles/container.scss';

.categories {
  &__block {
    margin-bottom: 80px;
    text-decoration: none;
    color: #0f0f11;
  }
}

.homepage {
  &__title {
    margin: 24px 0;
    font-family: 'Mont';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    font-weight: 800;

    @include onTablet {
      margin: 37px 0;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -1%;
      font-weight: 800;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__button-wrapper {
    display: flex;
  }

  &__button-prev {
    position: relative;
    margin-right: 16px;
    height: 32px;
    width: 32px;
    border-radius: 48px;
    border: 1px solid #b4bdc3;
    cursor: pointer;

    transition: border 0.3s;

    background-image: url(../../assets/images/icons/banner-button-prev.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      border: 1px solid #0f0f11;
    }
  }

  &__button-next {
    position: relative;
    height: 32px;
    width: 32px;
    border-radius: 48px;
    border: 1px solid #b4bdc3;
    cursor: pointer;

    transition: border 0.3s;

    background-image: url(../../assets/images/icons/banner-button-next.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      border: 1px solid #0f0f11;
    }
  }

  &__subtitle {
    display: inline-block;
    font-family: 'Mont';
    font-size: 22px;
    line-height: 31px;
    letter-spacing: -1%;
    font-weight: 800;

    @include onTablet {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -1%;
      font-weight: 800;
    }
  }

  &__subtitle--category {
    margin-bottom: 24px;
  }

  &__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onTablet {
      flex-direction: row;
    }
  }
}
