@import '../../styles/mixins';
@import '../../styles/container.scss';

.back-block {
  display: flex;
  align-items: center;

  margin-bottom: 16px;

  &__img {
    margin-right: 10px;
    height: 10px;
    width: 6px;
    background-image: url(../../assets/images/icons/breadcrumbs-prev.svg);
    background-repeat: no-repeat;
  }

  &__text {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 14px;
    color: #89939a;
  }
}

.item-page-title {
  margin-bottom: 40px;
  font-family: 'Mont';
  font-size: 32px;
  line-height: 41px;
  font-weight: 800;
  letter-spacing: -1%;
  color: #0f0f11;
}

.visual-block {
  display: flex;
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__gallery {
    @include onTablet {
      margin-right: 16px;
    }
    @include onDesktop {
      margin-right: 18px;
    }
  }

  &__poster {
    @include onTablet {
      margin-right: 16px;
    }

    @include onDesktop {
      margin-right: 18px;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;

  &__wrapper {
    margin-bottom: 13px;

    @include onTablet {
      margin-bottom: 15px;
    }

    @include onDesktop {
      margin-bottom: 15px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;

  transition: border 0.3s;

  &--selected {
    border: 1px solid #0f0f11;
  }

  &:hover {
    border: 1px solid #0f0f11;
  }

  &__img {
    height: 66px;
  }
}

.poster {
  display: flex;
  justify-content: center;

  padding: 7px;
  width: 275px;
  height: 275px;

  @include onTablet {
    width: 287px;
    height: 287px;
  }

  @include onDesktop {
    padding: 11px;
    width: 464px;
    height: 464px;
  }

  &__img {
    height: 100%;
  }
}

.specification {

  &__identificator {
    margin-bottom: 8px;
  }

  &__color-switch {
    margin-bottom: 24px;
  }

  &__line {
    margin-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
    width: 100%;
  }

  &__capacity {
    margin-bottom: 24px;
  }

  &__price {
    margin-bottom: 16px;
  }

  &__buttons {
    margin-bottom: 32px;
  }
}

.identificator {
  display: flex;
  justify-content: space-between;

  &__text {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #89939a;
  }

  &__id {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    color: #b4bdc3;
  }
}

.color-switch {
  display: flex;

  &__border  {
    margin-right: 9px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #e2e6e9;
    cursor: pointer;

    transition: border 0.3s;

    &--selected {
      border: 1px solid #0f0f11;
    }

    &:hover {
      border: 1px solid #b4bdc3;
    }
  }

  &__color1 {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fcdbc1;
  }

  &__color2 {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #5f7170;
  }

  &__color3 {
    margin-right: 9px;
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #4c4c4c;
  }

  &__color4 {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
}

.capacity {

  &__text {
    margin-bottom: 8px;
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #89939a;
  }
}

.value {
  &__button {
    margin-right: 8px;
    height: 32px;

    font-family: 'Mont';
    font-size: 14px;
    line-height: 16px;
    color: #0f0f11;

    border-radius: 4px;
    border: 1px solid #e2e6e9;background-color: #fff;
    cursor: pointer;

    transition: border 0.3s;

    &:hover {
      border: 1px solid #b4bdc3;
    }

    &--selected {
      color: #fff;
      background-color: #0f0f11;
    }
  }
}

.price {
  &__discount {
    margin-right: 8px;
    font-family: 'Mont';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    font-weight: 800;
    color: #0f0f11;
  }

  &__full {
    font-family: 'Mont';
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    color: #89939a;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  &__cart {
    margin-right: 8px;
    height: 48px;
    width: 231px;
    font-family: 'Mont';
    font-size: 14px;
    border-radius: 48px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #4219d0;
    cursor: pointer;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    @include onTablet {
      width: 180px;
    }

    @include onDesktop {
      width: 263px;
    }
  }

  &__favourite {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #b4bdc3;
    background-color: #fff;
    cursor: pointer;
    background-image: url(../../assets/images/icons/favourite.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition: border 0.3s;

    &:hover {
      border: 1px solid #0f0f11;
    }
  }
}

.characteristic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &__key {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    color: #89939a;
  }

  &__value {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #0f0f11;
  }
}

.description-block {
  display: flex;
  gap: 64px;
}

.about {
  width: 512px;
  
  &__title {
    margin-bottom: 16px;
    font-family: 'Mont';
    font-size: 22px;
    line-height: 30px;
    color: #0f0f11;
  }

  &__line {
    margin-bottom: 32px;
    border-bottom: 1px solid #e2e6e9;
  }
}

.section {
  &__title {
    margin-bottom: 16px;
    font-family: 'Mont';
    font-size: 20px;
    line-height: 26px;
    color: #0f0f11;
  }

  &__text {
    margin-bottom: 32px;
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    color: #0f0f11;
  }
}

.feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &__key {
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    color: #89939a;
  }

  &__value {
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    color: #0f0f11;
  }
}
