@import '../../styles/mixins';
@import '../../styles/container.scss';

.back-block {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:first-child {
    margin-bottom: 40px;
  }

  &__img {
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 6px;
    background-image: url(../../assets/images/icons/breadcrumbs-prev.svg);
    background-repeat: no-repeat;
  }

  &__link {
    display: inline;
    margin-right: 14px;
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #0f0f11;
  }

  &__text {
    display: inline;
    margin-right: 14px;
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #89939a;
  }

  &__arrow{
    margin-right: 16px;
    height: 9px;
    width: 6px;
    background-image: url(../../assets/images//icons/banner-button-next.svg);
  }
}

.link-breadcrumbs{
  text-decoration: none;
}

.item-page-title {
  margin-bottom: 32px;
  font-family: 'Mont';
  font-size: 22px;
  line-height: 31px;
  font-weight: 800;
  letter-spacing: -1%;
  color: #0f0f11;

  @include onTablet {
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 41px;
  }
}

.visual-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;

  @include onTablet {
    flex-direction: row;
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__gallery {
    @include onTablet {
      margin-right: 16px;
    }
    @include onDesktop {
      margin-right: 18px;
    }
  }

  &__poster {
    order: -1;
    margin: 0 auto 24px;

    @include onTablet {
      order: 0;
      margin: 0;
      margin-right: 18px;
    }

    @include onDesktop {
      margin-right: 18px;
    }
  }
}

.gallery {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;

  @include onTablet {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__wrapper {
    margin-bottom: 13px;

    @include onTablet {
      flex-direction: column;
      margin-bottom: 15px;
    }

    @include onDesktop {
      margin-bottom: 15px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  height: 48px;
  width: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;

  transition: border 0.3s;

  @include onTablet {
    height: 35px;
    width: 35px;
  }

  @include onDesktop {
    height: 80px;
    width: 80px;
  }

  &--selected {
    border: 2px solid #0f0f11;
  }

  &:hover {
    border: 2px solid #0f0f11;
  }

  &__img {
    height: 39px;

    @include onTablet {
      height: 28px;
    }

    @include onDesktop{
      height: 65px;
    }
  }
}

.poster {
  display: flex;
  justify-content: center;

  padding: 7px;
  width: 288px;
  height: 288px;

  @include onTablet {
    width: 287px;
    height: 287px;
  }

  @include onDesktop {
    padding: 11px;
    width: 464px;
    height: 464px;
  }

  &__img {
    height: 100%;
  }
}

.specification {
  min-width: 280px;

  @include onTablet {
    min-width: 300px;
  }

  &__identificator {
    margin-bottom: 8px;
  }

  &__color-switch {
    margin-bottom: 24px;
  }

  &__line {
    margin-bottom: 24px;
    border-bottom: 1px solid #e2e6e9;
    width: 100%;
  }

  &__capacity {
    margin-bottom: 24px;
  }

  &__price {
    margin-bottom: 16px;
  }

  &__buttons {
    margin-bottom: 32px;
  }
}

.identificator {
  display: flex;
  justify-content: space-between;

  &__text {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #89939a;
  }

  &__id {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    color: #b4bdc3;
  }
}

.color-switch {
  display: flex;

  &__border  {
    margin-right: 9px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 1px solid #e2e6e9;
    cursor: pointer;

    transition: border 0.3s;

    &--selected {
      border: 1px solid #0f0f11;
    }

    &:hover {
      border: 1px solid #0f0f11;
    }
  }

  &__black {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #0f0f11;
  }

  &__rosegold {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fcdbc1;
  }

  &__gold {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #ffd700;
  }

  &__silver {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #c0c0c0;
  }

  &__spacegray {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #343d46;
  }

  &__green {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #228b22;
  }

  &__yellow {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #ffff00;
  }

  &__white {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
  }

  &__purple {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #ee82ee;
  }

  &__red {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #8b0000;
  }
  &__purple {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #ee82ee;
  }

  &__coral {
    height: 30px;
    width: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #ff7f50;
  }
}

.capacity {

  &__text {
    margin-bottom: 8px;
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #89939a;
  }
}

.value {
  &__button {
    margin-right: 8px;
    height: 32px;
    width: 63px;

    font-family: 'Mont';
    font-size: 14px;
    line-height: 16px;
    color: #0f0f11;

    border-radius: 4px;
    border: 1px solid #e2e6e9;background-color: #fff;
    cursor: pointer;

    transition: border 0.3s;

    &:hover {
      border: 1px solid #0f0f11;
    }

    &--selected {
      color: #fff;
      background-color: #0f0f11;
    }
  }
}

.price {
  &__discount {
    margin-right: 8px;
    font-family: 'Mont';
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -1%;
    font-weight: 800;
    color: #0f0f11;
  }

  &__full {
    font-family: 'Mont';
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: line-through;
    color: #89939a;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  &__cart {
    height: 48px;
    width: 270px;
    font-family: 'Mont';
    font-size: 14px;
    border-radius: 48px;
    border: 1px solid transparent;
    color: #fff;
    background-color: #4219d0;
    cursor: pointer;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    @include onTablet {
      width: 180px;
    }

    @include onDesktop {
      width: 263px;
    }
  }

  &__favourite {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #b4bdc3;
    background-color: #fff;
    cursor: pointer;
    background-image: url(../../assets/images/icons/favourite.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition: border 0.3s;

    &:hover {
      border: 1px solid #0f0f11;
    }
  }
}

.characteristic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &__key {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    color: #89939a;
  }

  &__value {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #0f0f11;
  }
}

.description-block {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 56px;

  @include onDesktop {
    flex-direction: row;
    margin-bottom: 80px;
  }
}

.about {
  &__title {
    margin-bottom: 16px;
    font-family: 'Mont';
    font-size: 22px;
    line-height: 30px;
    color: #0f0f11;
  }

  &__line {
    margin-bottom: 32px;
    border-bottom: 1px solid #e2e6e9;
  }

  @include onDesktop{
    width: 600px;
  }
}

.section {
  &__title {
    margin-bottom: 16px;
    font-family: 'Mont';
    font-size: 20px;
    line-height: 26px;
    color: #0f0f11;
  }

  &__text {
    margin-bottom: 32px;
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    color: #0f0f11;
  }
}

.feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &__key {
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    color: #89939a;
  }

  &__value {
    font-family: 'Mont';
    font-size: 14px;
    line-height: 21px;
    color: #0f0f11;
  }
}
