@import '../../styles/mixins';

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  &__code {
    font-size: 66px;
  }

  &__title {
    font-size: 22px;
  }

  &__text {
    font-size: 18px;
  }
}
