@import './styles/mixins';

.content {
  &__body-main {
    margin: auto;
    padding-top: 24px;
  }
}

.body-main {
  min-height: calc(100vh - 160px);
  max-width: 1440px;

  @include onMobile {
    min-height: calc(100vh - 305px);
  }
}
