.card__buttons-cart {
  display: flex;
  align-items: center;
  padding: 9px 39px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-weight: 700;

  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 48px;
  background-color: #4219D0;
  color: #FFFFFF;

  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 3px 13px
    rgba(23, 32, 49, 0.4);
    cursor: pointer;
  }

  &--selected {
    background-color: transparent;
    color: #4219D0;
    border: 1px solid #E2E6E9;
  }
}
