.card {
  padding: 32px;

  font-family: 'Mont';
  color: #0f0f11;

  border: 1px solid #e2e6e9;
  border-radius: 8px;
  background-color: #fff;


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &__img {
    margin: 0 auto;
    height: 208px;
    margin-bottom: 24px;
  }

  &__title {
    height: 42px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &__price {
    &-discount {
      display: inline-block;
      margin-top: 8px;
      margin-right: 8px;
      margin-bottom: 9px;

      font-size: 22px;
      line-height: 30px;
      font-weight: 800;
    }

    &-fullPrice {
      display: inline-block;
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;

      color: #89939a;
    }

    &-line {
      margin-bottom: 16px;
      height: 1px;
      width: 208px;
      border-bottom: 1px solid #e2e6e9;
    }
  }

  &__specification {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &-wrapper:last-child {
      margin-bottom: 16px;
    }

    &-part {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;

      color: #89939a;
    }

    &-value {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;
  }
}
