h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mont";
  src: url(./fonts/Mont-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Mont";
  src: url(./fonts/Mont-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Mont";
  src: url(./fonts/Mont-Bold.otf);
  font-weight: 700;
}

body {
  box-sizing: border-box;
  margin-left: 20px;
}

.container {
  padding: 32px;
}

.card {
  display: flex;
  flex-direction: column;

  font-family: 'Mont';
  color: #0F0F11;

  border: 1px solid #E2E6E9;
  width: 272px;
  border-radius: 8px;

  &__img {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }

  &__price {
    &-discount {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 9px;

      font-size: 22px;
      line-height: 30px;
      font-weight: 800;
    }

    &-fullPrice {
      display: inline-block;

      font-size: 22px;
      line-height: 28px;
      font-weight: 500;

      color: #89939A;
    }

    &-line {
      margin-bottom: 16px;
      height: 1px;
      width: 208px;
      border-bottom: 1px solid #E2E6E9;
    }
  }

  &__specification {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &-wrapper:last-child {
      margin-bottom: 16px;
    }

    &-part {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;

      color: #89939A;
    }

    &-value {
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-cart {
      display: flex;
      align-items: center;
      padding: 9px 39px;

      font-size: 14px;
      font-weight: 700;
      line-height: 21px;
      font-weight: 700;

      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 48px;
      background-color: #4219D0;
      color: #FFFFFF;

      transition: box-shadow 0.2s;

      &:hover {
        box-shadow: 0 3px 13px
        rgba(23, 32, 49, 0.4);
        cursor: pointer;
      }

      &--selected {
        background-color: transparent;
        color: #4219D0;
        border: 1px solid #E2E6E9;
      }
    }

    &-favorite {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid #B4BDC3;
      color: #E2E6E9;
      background-image: url(./Icons/Favorite.svg);
      background-repeat: no-repeat;
      background-position: center;

      transition: border 0.2s;

      &:hover {
        border: 1px solid #0F0F11;
        cursor: pointer;
      }

      &--selected {
        background-image: url(./Icons/Favourite-selected.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #E2E6E9;
      }
    }

  }
}
