@import '../../styles/mixins';

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  font-family: 'Mont';

  &__text {
    font-size: 36px;
  }

  &__code {
    font-size: 48px;
  }
}
