@import '../../styles/variables';
@import '../../styles/mixins';

.cartItem-calculator {
  padding: 24px;

  font-family: 'Mont';

  border: 1px solid $elements;
  border-radius: 16px;

  @include onDesktop {
    min-width: 368px;
  }

  &__price {
    margin: 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.28;
    letter-spacing: -0.01em;
    color: $primary;

    text-align: center;
  }

  &__all-products {
    margin: 0px 0px 24px 0;

    font-size: 14px;
    line-height: 1.5;
    color: $secondary;

    text-align: center;
  }

  &__separator {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    height: 1px;

    background-color: $elements;

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__btn {
    display: inline-block;
    width: 100%;
    padding: 14px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: $white;

    background-color: $accent;
    border-radius: 48px;

    text-align: center;
    text-decoration: none;

    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }
  }
}
