@import '../../styles/mixins.scss';

.card__wrapper {
  margin-bottom: 40px;

  @include onDesktop {
    margin-bottom: 80px;
  }
}

.subtitle {
  font-family: 'Mont';
  font-size: 32px;

  @include onDesktop {
    font-size: 48px;
  }
}

.back-block {
  &__text {
    display: inline;
    margin-right: 14px;
    font-family: 'Mont';
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #0f0f11;
  }
}

