@import '../../styles/mixins.scss';

.card__wrapper {
  margin-bottom: 40px;

  @include onDesktop {
    margin-bottom: 80px;
  }
}

.subtitle {
  font-family: 'Mont';
  font-size: 32px;

  @include onDesktop {
    font-size: 48px;
  }
}
