// @import '../../styles/mixins';

// .header {
//   height: 48px;
//   box-sizing: border-box;
//   display: flex;
//   padding-left: 16px;
//   background-color: white;
//   align-items: center;
//   box-shadow: 0px 1px 0px #e2e6e9;

//   @include onDesktop {
//     height: 64px;
//     padding-left: 24px;
//   }

//   &__navbar {
//     display: flex;
//     gap: 32px;
//     flex-grow: 1;
//     padding-left: 32px;

//     @include onDesktop {
//       gap: 64px;
//       padding-left: 48px;
//     }
//   }
// }
