.grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  column-gap: 16px;
  row-gap: 40px;

  @include onTablet {
    grid-template-columns: repeat(2, auto);
  }

  @include onDesktop {
    grid-template-columns: repeat(4, auto);
  }
}
