@import '../../styles/mixins';

.modal {
  &__background {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(49, 49, 49, 0.6);
    cursor: pointer;
  }

  &__content {
    &-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      min-width: 500px;
      background-color: #ffffff;
      align-items: center;
      justify-content: center;
      padding: 24px;
      border: 1px;
      border-radius: 16px;
      border-color: #e2e6e9;
      cursor: auto;

      @include onMobile {
        min-width: 240px;
      }
    }

    &-icon {
      text-align: center;
      font-size: 84px;
      display: block;
      margin-bottom: 10px;
    }

    &-heading {
      display: block;
      font-size: 34px;
      margin-bottom: 8px;
      color: #0f0f11;
      text-align: center;
    }

    &-text {
      font-size: 18px;
      text-align: center;
      color: #0f0f11;
      margin-bottom: 12px;
    }
  }
}
