.card__buttons-favorite {
  display: block;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #b4bdc3;
  background-color: #fff;
  background-image: url(../../../assets/images/icons/favourite.svg);
  background-repeat: no-repeat;
  background-position: center;

  transition: border 0.3s;

  &:hover {
    border: 1px solid #0f0f11;
    cursor: pointer;
  }

  &--selected {
    background-image: url(../../../assets/images/icons/favourite-selected.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #e2e6e9;
  }
}
