.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @include onTablet {
    padding: 0 24px;
  }

  @include onDesktop {
    max-width: 1185px;
    padding: 0 24px;
  }
}
