@import '../../styles/mixins';
@import '../../styles/variables';

li {
  list-style-type: none;
}

.container-pagination {
  padding: 32px;
}

.page-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: gray;
  text-decoration: none;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;

  border-radius: 200px;
  height: 32px;
  width: 32px;

  border: 1px solid;
  border-color: grey;
  cursor: pointer;

  &:hover {
    border-color: black;
    color: #000;
  }

  &:focus {
    color: #fff;
    background-color: black;
    border-color: black;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding: 40px;
}

.items-count {
  display: block;
  margin-bottom: 24px;

  &__name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #89939a;
    padding-bottom: 4px;
  }

  &__select {
    height: 40px;
    width: 135px;
    border: 1px solid #b4bdc4;
    border-radius: 8px;
    color: #000;
    padding: 10px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-card-width, 1fr));
  justify-items: center;

  column-gap: 16px;
  row-gap: 40px;

  &__cell {
    width: 100%;
  }
}
