@import '../../styles/mixins.scss';

.banner {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 8px;

  @include onTablet {
    width: 592px;
  }

  @include onDesktop {
    width: 1136px;
  }

  &__image {
    height: 320px;

    @include onTablet {
      height: 190px;
    }

    @include onDesktop {
      height: 400px;
    }
  }

  &__slider {
    margin: 0 auto 66px;
    width: 320px;

    @include onTablet {
      margin-bottom: 74px;
      width: 490px;
    }

    @include onDesktop {
      margin-bottom: 90px;
      width: 1040px;
    }
  }
}

.navigation-buttons {
  display: flex;
}

.prev {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: inline-block;
    position: relative;
    margin-right: 19px;
    width: 32px;
    height: 189px;
    border-radius: 48px;
    border: 1px solid #b4bdc3;
    cursor: pointer;
  }

  @include onDesktop {
    width: 32px;
    height: 400px;
  }

  transition: border 0.3s;

  &__arrow {
    background-image: url(../../assets/images/icons/banner-button-prev.svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    border: 1px solid #0f0f11;
  }
}

.next {
  @include onMobile {
    display: none;
  }

  @include onTablet {
    display: inline-block;
    position: relative;
    margin-left: 19px;
    width: 32px;
    height: 189px;
    border-radius: 48px;
    border: 1px solid #b4bdc3;
    cursor: pointer;
  }

  @include onDesktop {
    width: 32px;
    height: 400px;
  }

  transition: border 0.3s;

  &__arrow {
    background-image: url(../../assets/images/icons/banner-button-next.svg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    border: 1px solid #0f0f11;
  }
}
