@import '../../styles/mixins.scss';

.banner {
  display: flex;
  border-radius: 8px;

  @include onTablet {
    width: 490px;
  }

  @include onDesktop {
    width: 1136px;
  }

  &__image {
    height: 320px;

    @include onTablet {
      height: 190px;
    }

    @include onDesktop {
      height: 400px;
    }
  }

  &__slider {
    margin: 0 auto 66px;
    width: 320px;

    @include onTablet {
      margin-bottom: 74px;
      width: 570px;
    }

    @include onDesktop {
      margin-bottom: 90px;
      width: 1040px;
    }
  }
}

.navigation-buttons {
  display: flex;
}

.prev {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 400px;
  border-radius: 48px;
  border: 1px solid #b4bdc3;
  cursor: pointer;

  &::after {
    content: "<";
    position: absolute;
    top: 45%;
    left: 30%;
    color: #0f0f11;
  }
}

.next {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 400px;
  border-radius: 48px;
  border: 1px solid #b4bdc3;
  cursor: pointer;

  &::after {
    content: ">";
    position: absolute;
    top: 45%;
    right: 30%;
    color: #0f0f11;
  }
}

.pagination-bullet {
  width: 14px;
  height: 4px;
  background-color: #0f0f11;
}
