@import '../../styles/fonts';
@import '../../styles/variables';
@import '../../styles/extends';
@import '../../styles/mixins';

* {
  box-sizing: border-box;
}

.burger-menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100vh;

  font-family: 'Mont';

  overflow: hidden;
  z-index: 100;

  background-color: $white;

  // transform: translateX(100%);
  // transition: transform 0.3s linear;

  width: 0px;
  transition: width 0.3s;

  @include onDesktop {
    display: none;
  }

  &__wrap {
    @extend %flex-center-vertical;
    justify-content: space-between;

    margin-bottom: 32px;

    border-bottom: 1px solid $elements;
  }

  &__logo {
    padding: 0 16px;
  }

  &__cross {
    border-left: 1px solid $elements;
  }

  &__switcher {
    display: flex;
    padding: 16px;

    cursor: pointer;
  }

  &__list {
    @extend %flex-center-vertical;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;

    :not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__item {
    position: relative;

    font-size: 12px;
    font-weight: 700;
    color: $secondary;

    text-transform: uppercase;
    letter-spacing: 0.04em;

    a {
      display: block;
      padding-bottom: 8px;

      color: $secondary;

      border-bottom: 1px solid transparent;
      text-decoration: none;
      transition: color 0.3s, border-bottom 0.3s;

      &:hover {
        color: $border-dark;
        border-bottom: 1px solid $border-dark;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;

    padding: 24px 0px;
    width: 50%;

    text-decoration: none;
    border-bottom: 2px solid transparent;
  }

  &__tabs {
    position: absolute;
    bottom: 0;
    display: flex;

    width: 100%;

    border-top: 1px solid $secondary;

    :not(:last-child) {
      border-right: 1px solid $secondary;
    }
  }
}

.hide-burger-menu {
  // transform: translateX(100%);
  width: 0px;
}

.border-right-cross {
  border-right: 1px solid $elements;
}

.is-active-tab {
  border-bottom: 2px solid $border-dark;
}

.show-burger {
  // transform: translateX(0);
  width: 100vw;
}

.scroll-off {
  height: 100vh;
  overflow: hidden;
}
