@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/container.scss';
@import '../../styles/fonts';

.cart-breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @include onDesktop {
    margin-bottom: 24px;
  }

  &__arrow {
    height: 9px;
    width: 9px;
    margin-right: 9px;
    background-image: url(../../assets/images/icons/breadcrumbs-prev.svg);
    background-repeat: no-repeat;
  }

  &__text {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 13px;
    color: #89939a;
  }
}

.cart {
  &__title {
    margin-bottom: 32px;

    font-family: 'Mont';
    font-weight: 800;
    font-size: 48px;
    line-height: 1.17;
    color: $primary;
  }

  &__wrap {
    @include onDesktop {
      display: flex;
      align-items: flex-start;
    }
  }

  &__items {
    flex-grow: 1;
  }
}
